.rollins-container {
  // width: 100vw;
min-height: 80vh; /* changed from height to min-height */ 
background-image: url('pediatrician.png');
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: 'stratos-lights, sans-serif';
color: white;
overflow: auto; /* new property to add scrollbar if content overflows */
.logo {
    width: 100px;
    margin-bottom: 20px;
  }
  title {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
  }
  .description {
    color: white;
    font-size: 20px;
  }
  button {
    border: 1px solid #ffcd00;
    border-radius: 4px;
    color: #ffcd00;
    background-color: transparent;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  button:hover {
    background-color: #ffcd00;
    color: white;
}
}
